venv

training_set

test_set

data
DilnazDL/flickr30k_images
Project1/input
cuda
runs
working
Project1/notebooks/attention_model_state.pth
Project1/notebooks/image-captioning-with-attention-pytorch-NOT-PRETRAINED-accuracy-100-epoch.ipynb